<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="crossbrowser">
	<test name="chromeTest">
		<parameter name="browser" value="chrome" />

		<classes>
			<class name="pack1.CrossBrowserTesting" />
		</classes>
	</test>

	<test name="FirefoxTest">
		<parameter name="browser" value="Firefox" />

		<classes>
			<class name="pack1.CrossBrowserTesting" />
		</classes>
	</test>
</suite>
		   